.wrapper
  .chat-side
    = render "shared/side_bar"

  .right-contents
    .right-contents__header
      .right-contents__header__box
        %h2.right-contents__header__box__group
          =@group.name
        %ul.right-contents__header__box__member-list
          Member：
          %li.right-contents__header__box__member-list_member
          - @group.users.each do |user|
            =user.name
      .right-contents__header__edit
        =link_to "/groups/1/edit/" do
          Edit

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'